ConsoleApp1/Connected Services/ServiceReference1/DispatcherV2Signed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://inti.notariado.org/XML" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:impl="http://inti.notariado.org/XML" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://inti.notariado.org/XML" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SigOnly">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Always">
                  <wsp:Policy>
                    <sp:WssX509V3Token10 />
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Always">
                  <wsp:Policy>
                    <sp:WssX509V3Token10 />
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
          </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
          </wsp:Policy>
        </sp:Wss10>
        <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <sp:Body />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:intf="http://inti.notariado.org/XML" xmlns="http://inti.notariado.org/XML" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://inti.notariado.org/XML">
      <xsd:element name="SERVICE_DISPATCHER">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TIMESTAMP" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Timestamping sobre el envio del mensaje (AAAA-MM-DDThh:mm:ss)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TIPO_MSJ" type="impl:TIPO_MENSAJEType">
              <xsd:annotation>
                <xsd:documentation>Tipo de mensaje ( "1" Petición, "2" Respuesta)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="EMISOR" type="impl:CODIGO_NOTARIAType">
              <xsd:annotation>
                <xsd:documentation>Entidad emisora del mensaje (Código de la notaría)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element fixed="CGN" name="RECEP" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Entidad receptora del mensaje ("CGN" Código del CGN)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CUV" type="impl:CODIGO_NOTARIOType">
              <xsd:annotation>
                <xsd:documentation>Código del Notario (Código de Ultimas Voluntades)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="SERVICIO" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Código del servicio</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="GENERADOR" type="impl:GENERADORType">
              <xsd:annotation>
                <xsd:documentation>Bloque con datos relativos al proveedor de la aplicación y a la aplicación generadora del XML</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="CODIGO_NOTARIAType">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{9}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CODIGO_NOTARIOType">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{7}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TIPO_MENSAJEType">
        <xsd:restriction base="xsd:byte">
          <xsd:enumeration value="1" />
          <xsd:enumeration value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SERVICE_DISPATCHER_REQUEST">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##any" processContents="lax" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SERVICE_DISPATCHER_RESPONSE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="##any" processContents="lax" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ServiceDispatcherException">
        <xsd:sequence>
          <xsd:element name="info" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="fault" type="impl:ServiceDispatcherException" />
      <xsd:complexType name="GENERADORType">
        <xsd:sequence>
          <xsd:element name="NOMBRE_PROVEEDOR" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Nombre del proveedor de la aplicación</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NOMBRE_APLICACION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Nombre de la aplicación</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="VERSION_APLICACION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Versión de la aplicación</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="processResponse">
    <wsdl:part name="processReturn" element="impl:SERVICE_DISPATCHER_RESPONSE" />
  </wsdl:message>
  <wsdl:message name="ServiceDispatcherException">
    <wsdl:part name="fault" element="impl:fault" />
  </wsdl:message>
  <wsdl:message name="processRequest">
    <wsdl:part name="part" element="impl:SERVICE_DISPATCHER_REQUEST" />
    <wsdl:part name="request_header" element="impl:SERVICE_DISPATCHER" />
  </wsdl:message>
  <wsdl:portType name="ServiceDispatcher">
    <wsdl:operation name="process">
      <wsdl:input name="processRequest" message="impl:processRequest" />
      <wsdl:output name="processResponse" message="impl:processResponse" />
      <wsdl:fault name="ServiceDispatcherException" message="impl:ServiceDispatcherException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceDispatcherSoapBinding" type="impl:ServiceDispatcher">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="processRequest">
        <wsdlsoap:header message="impl:processRequest" part="request_header" use="literal" />
        <wsdlsoap:body use="literal" parts="part" />
      </wsdl:input>
      <wsdl:output name="processResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDispatcherException">
        <wsdlsoap:fault use="literal" name="ServiceDispatcherException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DispatcherV2Signed">
    <wsdl:port name="DispatcherPortSigned" binding="impl:ServiceDispatcherSoapBinding">
      <wsp:PolicyReference URI="#SigOnly" />
      <wsdlsoap:address location="http://localhost:6180/dispatcher-web/DispatcherV2Signed" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>